:root {
    --primary-color: #FED001;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    font-weight: 400;
}

p,
a {
    font-size: 1.6rem;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

nav a {
    text-decoration: none;
}

.upper {
    text-transform: uppercase;
}

.btn {
    background-color: var(--primary-color);
    border-radius: 4px;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1.6rem 4.2rem;
    background-color: #2a2a2a;
    color: var(--primary-color);
}

.btn:hover {
    transition: .4s;
    background-color: #0d0d0d;
}

.wrapperContainer {
    padding-top: 1px;
}

.wrapperContainer-dark {
    background-color: #2a2a2a;
    color: #fafafa;
}

.wrapperContainer-light {
    background-color: #fafafa;
}

.wrapperContainer-dark2 {
    background-color: #003464;
    color: #fafafa;
}

.container {
    max-width: 127.6rem;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    padding: 2rem 0;
}

.header_logo {
    font-size: 3.2rem;
    font-weight: 700;
}

.header_nav a {
    margin-left: 1.6rem;
    color: var(--primary-color);
    text-decoration: none;
    border: solid 1px;
    padding: .50em 1.2em;
    border-radius: 2px;
}

.header_nav a:hover {
    background-color: #0d0d0d;
    transition: .4s;
}

.header_nav {
    list-style-type: none;
    display: flex;
    gap: .8rem;
}

.wrapperContainer-hero {
    background-color: var(--primary-color);
}

.heroBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cursos {
    text-align: center;
}

.cursosContainer {
    display: flex;
    text-align: left;
}

.curso_card {
    flex: 1
}

.curso_card h3 {
    font-size: 2.6rem;
}

.cursos_card_content {
    padding: 1rem;
}

